{% extends "starter.html" %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
{{title|title}}
{% endblock %}


{% block content %}

<div class="col-12 col-md-10 mb-3 mx-auto">
    <div class="card">
    <div class="card-body">


<h5 class="card-title">{{title | title}}</h5>
        
<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    
    {% bootstrap_form form %}
    <!--
    {{form.non_field_errors}}

    <div class="form-group">
      
    {{form.image.errors}}
    {{form.image.label_tag}}
    {{form.image}}
</div>

<div class="form-group">
      
    {{form.slug.errors}}
    {{form.slug.label_tag}}
    {{form.slug}}
</div>

<div class="form-group">
      
    {{form.title.errors}}
    {{form.title.label_tag}}
    {{form.title}}
</div>

-->
{% buttons %}
    <button type="submit" class="btn btn-primary">Create Blog Post</button>
    {% endbuttons %}
    </form>
</div>
</div>
</div>

{% endblock %}