{% load static %}
<div class="container overflow-hidden text-center" style="visibility:hidden;">
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3">Custom column padding</div>
    </div>
    <div class="col-6">
      <div class="p-3">Custom column padding</div>
    </div>
  
  </div>
</div>

<div class="container" style="border: 1px solid white;">



  <div class="row d-flex justify-content-center" style="border: 1px solid red;">

    <div class="col-md-6 p-4" style="border: 1px solid green;">
<div class="ui items ms-2">
  <div class="item">
    {% if blog_post.image %}
    <div class="image">
      <a href="{{blog_post.get_absolute_url}}">
      <img src="{{blog_post.image.url}}" style="height: 30vh;" class="ui medium rounded image">
    </a>
    </div>
    {% endif %}
    {% if truncate %}
    <div class="content">
      <a class="header text-white">{{blog_post.title|title}}</a>
      <div class="meta">
        {% autoescape off %}
        <span class="text-white">{{blog_post.content|linebreaks|truncatewords:30}}</span>
        {% endautoescape %}
      </div>    
      <div class="description text-white">
        <p></p>
      </div>
      <div class="extra text-white">
       
        <div class="ui label"><i class="globe icon"></i> {{blog_post.publish_date}}</div>
        <div class="ui button inverted "><a href="{{blog_post.get_absolute_url}}" class="text-decoration-none">Continue reading</a></div>
        
       
      </div>
    </div>
  </div>
</div>

</div>

</div>













{% else %}




    <div class="content">
      <a class="header text-white">{{blog_post.title|title}}</a>
     
      
      <div class="meta">
        {% autoescape off %}
        <span class="text-white">{{blog_post.content|linebreaks}}</span>
        {% endautoescape %}
      </div>

     
      <div class="description text-white">
        <p></p>
      </div>
      <div class="extra text-white">
        
        <div class="ui label"><i class="globe icon"></i>{{blog_post.publish_date}}</div>
        <div class="ui label"><i class="user icon"></i>{{blog_post.user.first_name}}</div>
        
      </div>
    </div>
  



{% endif %}
</div>