{% load static %}																
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/jquery.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.js.map' %}"></script>
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.js.map' %}"></script>
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js.map' %}"></script>
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js.map' %}"></script>
	
		<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/all.js' %}"></script>
		
			<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/all.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/brands.js' %}"></script>
					<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/brands.min.js' %}"></script>
						<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/conflict-detection.js' %}"></script>

			<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/conflict-detection.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/fontawesome.js' %}"></script>
					<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/regular.js' %}"></script>
						<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/regular.min.js' %}"></script>
						
		
					
			<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/solid.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/solid.min.js' %}"></script>
					<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/v4-shims.js' %}"></script>
						<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/js/v4-shims.min.js' %}"></script>
		
		
		
		
		
				
		
		
		
		
	
	
		
		
		
		
		
		
			
		
		
		
							
		
		
		
		
		
		
		
		
		
		
		
	
	
	
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/tools/sanitizer.js' %}"></script>
		<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/alert.js' %}"></script>
			<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/button.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/carousel.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/index.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/modal.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/popover.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/scrollspy.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/tab.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/toast.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/tooltip.js' %}"></script>
				<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/util.js' %}"></script>
				
			<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/src/dropdown.js' %}"></script>
								

<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/alert.js' %}"></script>

<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/alert.js.map' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/button.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/button.js.map' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/carousel.js.map' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/index.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/index.js.map' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/modal.js.map' %}"></script>
					
					
					
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/collapse.js' %}"></script>				
	<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/collapse.js.map' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/popover.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/popover.js.map' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/scrollspy.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/scrollspy.js.map' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/tab.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/tab.js.map' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/toast.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/toast.js.map' %}"></script>			
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/util.js' %}"></script>	
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/util.js.map' %}"></script>



<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/tooltip.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/tooltip.js.map' %}"></script>			
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/dropdown.js' %}"></script>	
<script type="text/javascript" src="{% static 'node_modules/bootstrap/js/dist/dropdown.js.map' %}"></script>
										
					
					
									
